@page "/lists/{id:int}"
@model TodoApp.Pages.Lists

<h1>List: @Model.List.Name</h1>

@await Html.PartialAsync("_New", new TodoItemViewModel {ListId = Model.Id})

@await Html.PartialAsync("_Todos", Model)

<form id="todos" method="post"></form>